In [ ]:
# what is Tuple?

In [4]:
# creating a tuple
a=(1,2,3,4,5)
print(a)
b=("sakthi",23,5.9)
print(b)
c=(1)
print(c)
d=(1,)
print(d)

(1, 2, 3, 4, 5)
('sakthi', 23, 5.9)
1
(1,)

In [6]:
number=1,2,3,4,5
print(number)

(1, 2, 3, 4, 5)

In [9]:
# basic operations in tuple - len
number=(34,56,78,90)
print(len(number))
val=("name",34,("learning"),78)
print(len(val))
val1=("name",34,("happy","learning"),78)
print(len(val1))

4
4
4

In [13]:
# basic operations in tuple - concatenation
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [11]:
# basic operations in tuple - repetition
a=(1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [14]:
a=(1,2,3)
b=(4,5,6)
print(a+2)

TypeError: can only concatenate tuple (not "int") to tuple

In [15]:
a=(1,2,3)
b=(4,5,6)
print(a*b)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [16]:
# basic operations in tuple - membership operator
a=(1,2,3)
3 in a

True

In [17]:
4 not in a

True

In [19]:
# accessing Tuple values
value=("gurukula",("happy","learing"),"python")

In [25]:
# Indexing - positive and negative
print(value[0])
print(value[2])
print(value[1][0])
print(value[1][1])

gurukula
python
happy
learing

In [28]:
print(value[-1])
print(value[-3])
print(value[-2][0])

python
gurukula
happy

In [40]:
# slicing positive and negative
value=("gurukula",("happy","learing"),"python")
value[0:2]

('gurukula', ('happy', 'learing'))

In [41]:
value[0:]

('gurukula', ('happy', 'learing'), 'python')

In [42]:
value[:]

('gurukula', ('happy', 'learing'), 'python')

In [47]:
value[-3:]

('gurukula', ('happy', 'learing'), 'python')

In [48]:
value[-3:-1]

('gurukula', ('happy', 'learing'))

In [49]:
# packing and unpacking 
a=("sakthi",23,5.6)
(name,age,height)=a
print(name,age,height)

sakthi 23 5.6

In [50]:
a=("sakthi",23,5.6)
name,age,height=a
print(name,age,height)

sakthi 23 5.6

In [51]:
a=("sakthi",23,5.6,23,56,"hello")
name,age,height=a
print(name,age,height)

ValueError: too many values to unpack (expected 3)

In [52]:
a=("sakthi",23,5.6,23,56,"hello")
name,*age,height=a
print(name,age,height)

sakthi [23, 5.6, 23, 56] hello

In [54]:
# builtin methods
tup=(1,2,3,4,5,1,1)
tup.count(1)

3

In [56]:
tup=(1,2,3,4,5,1,1)
tup.index(2)
tup.index(1)

0