In [ ]:
# built in methods
d={"name":"sakthi","age":67,"height":4.5}
d.

In [1]:
# items()
d={"name":"sakthi","age":67,"height":4.5}
d.items()

dict_items([('name', 'sakthi'), ('age', 67), ('height', 4.5)])

In [2]:
# keys()
d={"name":"sakthi","age":67,"height":4.5}
d.keys()

dict_keys(['name', 'age', 'height'])

In [3]:
# values()
d={"name":"sakthi","age":67,"height":4.5}
d.values()

dict_values(['sakthi', 67, 4.5])

In [7]:
# access- get()
d={"name":"sakthi","age":67,"height":4.5}
d["address"]

KeyError: 'address'

In [11]:
d={"name":"sakthi","age":67,"height":4.5}
d.get("name")

'sakthi'

In [13]:
d={"name":"sakthi","age":67,"height":4.5}
d.get("address","address not found in dictionary")

'address not found in dictionary'

In [16]:
d={"name":"sakthi","age":67,"height":4.5}
d.get("name","notfound")

'sakthi'

In [18]:
# update()
d={"name":"sakthi","age":67,"height":4.5}
d.update(address="nil")
print(d)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'address': 'nil'}

In [19]:
d1={"name":"sakthi","age":67,"height":4.5}
d2={"address":"nil"}
d1.update(d2)
print(d1)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'address': 'nil'}

In [22]:
d1={"name":"sakthi","age":67,"height":4.5}
d2={"address":"nil"}
d1.update(d2,fname="shiva")
print(d1)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'address': 'nil', 'fname': 'shiva'}

In [29]:
d={"name":"sakthi","age":67,"height":4.5}
d.update(name="shiva")
print(d)

{'name': 'shiva', 'age': 67, 'height': 4.5}

In [27]:
# copy()
d1={"name":"sakthi","age":67,"height":4.5}
d2=d1.copy()
print(d2)

{'name': 'sakthi', 'age': 67, 'height': 4.5}

In [30]:
# fromkeys()
name=("sakthi","shiva")
val=("nil")
empty={}
empty.fromkeys(name,val)

{'sakthi': 'nil', 'shiva': 'nil'}

In [36]:
# setdefault()
d={"name":"sakthi","age":67,"height":4.5}
d.setdefault("fname","shiva")
print(d)

{'name': 'sakthi', 'age': 67, 'height': 4.5, 'fname': 'shiva'}

In [37]:
d={"name":"sakthi","age":67,"height":4.5}
d.setdefault("age",90)
print(d)

{'name': 'sakthi', 'age': 67, 'height': 4.5}

In [45]:
# pop()
d={"name":"sakthi","age":67,"height":4.5}
d.pop("name")
print(d)

{'age': 67, 'height': 4.5}

In [43]:
# popitem()
d={"name":"sakthi","age":67,"height":4.5}
d.popitem()
print(d)

{'name': 'sakthi', 'age': 67}

In [46]:
# del()
d={"name":"sakthi","age":67,"height":4.5}
del d["name"]
print(d)

{'age': 67, 'height': 4.5}

In [48]:
d={"name":"sakthi","age":67,"height":4.5}
del d
print(d)

NameError: name 'd' is not defined

In [50]:
# clear()
d={"name":"sakthi","age":67,"height":4.5}
d.clear()
print(d)

{}